<!DOCTYPE html>
<html>

  <head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>Culture G ou G pas</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/fetch"></script>
    <script src="/fetchSport"></script>
    <script src="/fetchMusic"></script>
    <script src="/fetchCinema"></script>
    <script src="/fetchFlag"></script>
    <script src="/monAPI"></script>
  </head>

  <body style="background-color:#2d2d30" onload="sendgetfetch('Flag')">

    <div class="jumbotron text-center">
      <h1>G ou G pas ?</h1>
      <p>Questions de culture génerale</p>
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-default" onclick="fetchBoutton('Sport');">Sport</button>
      <button type="button" class="btn btn-default"  onclick="fetchBoutton('Cinema');">Cinema</button>
      <button type="button" class="btn btn-default"  onclick="fetchBoutton('Music');">Musique</button>
      <button type="button" class="btn btn-default"  onclick="fetchBoutton('Flag');">Drapeau</button>
      <button type="button" class="btn btn-default"  onclick="fetchBoutton('Games');">Jeux Vidéo</button>

    </div>

    <br>
    <div class="container">
      <div class="well well-lg">
        <div class="row">

          <div class="col-sm-6">
            <div id="Question"></div>
          </div>

          <div class="col-sm-6">
            <br>
            <div id="Reponse" ></div>
          </div>

        </div>
      <!-- <button  id="Suivant" type="button" class="btn btn-basic " style="margin-left:95%" onclick="" disabled=true>Suivant</button> -->
      </div>
    </div>

    <h2 style="margin-left:80% ;color:white">Score : <span id="SCORE" class="label label-warning" >0</span></h2>

  </body>
  <style>
  .custom-radios input[type="radio"] {
  display: none;
	}
	.custom-radios input[type="radio"] + label {
  color: lightgrey;
  font-family: Arial, sans-serif;
  font-size: 18px;
	}
  .custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 220%;
  height: 50px;
  margin: -1px 50px 10px 0;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  text-align: center;
  line-height: 44px;
  background-color: #2d2d30;
	}
  .custom-radios input[type="radio"]:checked + label span {
  color: black;
  opacity: 1;
  background-color: lightblue;
  width: 220%;
  height: 50px;
  display: inline-block;

}
  </style>

</html>
