<!DOCTYPE html>
<html>

  <head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>Culture G ou G pas</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/fetch"></script>
    <script src="/fetchSport"></script>
    <script src="/fetchMusic"></script>
    <script src="/fetchCinema"></script>
    <script src="/fetchFlag"></script>
  </head>

  <body style="background-color:#2d2d30">

    <div class="jumbotron text-center">
      <h1>G ou G pas ?</h1>
      <p>Questions de culture génerale</p>
    </div>

    <div class="text-center">
       <button type="button" class="btn btn-default" id="1" onclick="fetchBoutton('Sport');">Theme1</button>
      <button type="button" class="btn btn-default" id="2">Theme2</button>
      <button type="button" class="btn btn-default" id="3">Theme3</button>
      <button type="button" class="btn btn-default" id="4">Theme4</button>
      <button type="button" class="btn btn-default" id="5">Theme5</button>
    </div>

    <br>
    <div class="container">
      <div class="well well-lg">
        <div class="row">

          <div class="col-sm-6">
            <h3 class="text-center" >Question</h3>
            <div id="Question"></div>
          </div>

          <div class="col-sm-6">
            <h3 class="text-center">Réponse</h3>
            <div id="Reponse"></div>
          </div>

        </div>
        <button type="button" class="btn btn-basic disabled " style="margin-left:95% ">Suivant</button>
      </div>
    </div>

    <h2 style="margin-left:80% ;color:white">Score : <span id="score" class="label label-warning" >0</span></h2>

  </body>

</html>
<script src="thememusic.js"></script>
