<!DOCTYPE html>
<html>

  <head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>Culture G ou G pas</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/stats"></script>
  </head>

  <body style="background-color:#2d2d30">

    <div class="jumbotron text-center">
      <h1>G ou G pas ?</h1>
      <p>Questions de culture génerale</p>
    </div>

    <div class="text-center">
       <h2 style="color:white"> Vos statistiques </h2>
    </div>

    <div class="container">
      <div class="well well-lg">
        <div class="row">

          <div class="col-sm-6">
            <h3 style="text-align:center"> Classement </h3>
            <div id="Classement" ></div>
          </div>

          <div class="col-sm-6">
            <h3 style="text-align:center"> Histogramme des scores </h3>
            <div id="Histogramme"></div>
          </div>

        </div>
      </div>
    </div>

  </body>

</html>
